body{
    font-family:Verdana;
     text-align: center;
}

#myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.labels{
    font-size: 3em;
}